@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 15px;
}

.title-center {
    text-align: center;
}

.title-main {
    padding-left: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 0 20px 0 0;
}

#header {
    width: 100%;
}

#img-beneficios {
    width: 150px;
}

.itens {
    font-size: 18px;
    font-style: italic;
}